.git
.gitignore
**/.idea/
**/.vscode/

**/__pycache__/
**/*.pyc
.venv/
**/.pytest_cache/
**/.mypy_cache/

node_modules/
dashboard/node_modules/
**/dist/
**/build/
**/.parcel-cache/
**/.next/

data/
models/
pgdata/
*.db
*.sqlite

**/.DS_Store
Thumbs.db

*.lnk
*.url
